params {
    accession_col     = "ImmPort.Accession"
    sex_col           = "Sex"
    age_group_col     = "Age_Group"
    age_years_col     = "Age_years"
    analyte_name_col  = "AutoAB"
    analyte_value_col = "Value"
    visit_cols        = "Visit_Num"
    restrict_visits   = false

    person_info_tsv = false  // Set to path of person info TSV file
    measure_info_csv = false // Set to path of measure info CSV file

    default_container = "quay.io/lifebitaiorg/cloudos-cli:latest"
}

process {
    container = params.default_container
}